.slider-connect {
    background-color: #1c1456 !important;
}

.slider-handle {
    background-color: #1c1456 !important;
    border-color: #1c1456 !important;
}

.slider-tooltip {
    background-color: #1c1456 !important;
    border-color: #1c1456 !important;
}